p{
    font-size: 50px;
    color: blueviolet;
    text-align: justify;  /* if we want alignment from both side*/
    /* font-weight: 100;  */
    line-height: 4;  /* 50px and 2 line */
    letter-spacing: 20px;
    word-spacing: 40px;
    font-style: italic;
    text-transform: uppercase;
    text-indent: 150px;
}


a{
    text-decoration: none;
}


ul{
    list-style: none;
}