*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner{
    background-color: pink;
    /* if ther is no content then bg coloer will not visible so give fix height */
    height: 500px;
    width: 500px;
}

.banner2{
    height: 500px;
    width: 500px;
    /* also we can chage direction : to left,  to right, to bottom, to top */
    background-image: linear-gradient(90deg, orange, white, green)
}

.banner3{
    height: 500px;
    /* width: 500px; */  /* width is not given then to get circule pass circule as 1st params*/
    background-image: radial-gradient(circle, orange, white, green)
}

.banner4{
    height: 500px;
    width: 500px;
    background-image: conic-gradient(orange, white, green)
}