@media (max-width:1399px){
    .w-xl-2{
        width: 50%;
    }
    header nav ul:first-child{
        display: none;
    }
    .togal{
        display: inline-block;
    }
    .container{
        max-width: 1140px;
    }
}

@media (max-width:1199px){
    .w-lg-2{
        width: 50%;
    }
    .container{
        max-width: 960px;
    }
    h1{
        font-size:60px;
    }
}

@media (max-width:991px){
    .w-md-3{
        width: 50%;
    }
    h1{
        font-size:40px;
        line-height:40px;
    }
    .quality{
        padding-bottom:40px;
    }
    .quality-img img{
        margin-left: 60px;  
    }
    .quality-content p{
        max-height: 20px;
        overflow: hidden;
    }
    .container{
        max-width: 740px;
    }
}

@media (max-width:767px){
    .w-sm-1{
        width: 100%;
    }
    .quality-img img{
        margin-left: 48px;   
    }
    header nav ul:last-child li:last-child a{
        background-color:#10396a;
        padding:5px 10px;
    }
    h1{
        font-size:35px;
        line-height:35px;
    }
    .quality{
        padding-bottom:20px;
    }
    .quality-content p + a{
        padding:5px 20px;
        margin-bottom:15px;
    }
    .container{
        max-width: 570px;
    }
    .what-we-do{
        padding:30px 0;
    }
    .what-we-do-btn a{
        padding:5px 20px;
        margin-top:20px;
    }
    .what-we-do-title{
        margin-bottom:40px;
    }
}

@media (max-width:575px){
    /* .w-xs-1{
        width: 100%;
    } */
    .quality-img img{
        margin-left: 48px;   
    }
    header nav ul:last-child li:last-child a{
        background-color:#10396a;
        padding:5px 10px;
    }
    h1{
        font-size:35px;
        line-height:35px;
    }
    .quality{
        padding-bottom:20px;
    }
    .quality-content p + a{
        padding:5px 20px;
        margin-bottom:15px;
    }
    .container{
        max-width: 570px;
    }
    .what-we-do{
        padding:30px 0;
    }
    .what-we-do-btn a{
        padding:5px 20px;
        margin-top:20px;
    }
    .what-we-do-title{
        margin-bottom:40px;
    }
    .container{
        max-width: 100%;
    }
}