*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
:root{
	--theme-blue:#051629;
	--theme-orange:#ec6008;
	--theme-white:#ffffff;
	--theme-gray:#797C7F;
}
body{
	font-family: 'Mukta';
}
a{
	text-decoration:none;
	display:inline-block;
}
ul,ol{
	list-style:none;
}
.d-flex{
	display:flex;
}
.row{
	display:flex;
	flex-wrap:wrap;
}
.relative{
	position:relative;
}
.align-items-center{
	align-items:center;
}
.justify-between{
	justify-content:space-between;
}
.container{
	max-width:1320px;
	margin:0 auto;
	padding:0 15px;
}
.text-center{
	text-align:center;
}
.col-1{
	width:8.33%;
}
.col-2{
	width:16.66%;
}
.col-3{
	width:25%;
}
.col-4{
	width:33.33%;
}
.col-5{
	width:41.65%;
}
.col-6{
	width:50%;
}
.col-7{
	width:58.31%;
}
.col-8{
	width:66.64%;
}
.col-9{
	width:75%;
}
.col-10{
	width:83.33%;
}
.col-11{
	width:91.63%;
}
.col-12{
	width:100%;
}
.h-100{
	height:100%;
}