*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1320px;
    margin:0 auto;
}

.box{
    background-color: burlywood;
    height: 300px;
}

.w-4{
    width: 25%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.w-4:nth-child(2) .box{
    background-color: red;
}
.w-4:nth-child(3) .box{
    background-color: yellow;
}
.w-4:last-child .box{
    background-color: green;
}