*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: inline-block;
    perspective: 900px;
    /* perspective help use to see rotaion in 3d way */
    /* lover the value, angel will be far, higer the value, angel will be near */
}

.box1{
    width: 200px;
    height: 200px;
    background-color: black;
    margin: 100px;
    transform: rotate(45deg);   
    /* transform: rotateX(45deg);    */
    /* transform: rotateY(45deg);    */
    /* rotate: 45deg */
}


.box2{
    /*  scale fall between 0 to 1, if we give 1.1 then it will increse the size of box */
    width: 200px;
    height: 200px;
    background-color: black;
    margin: 100px;
    transform: scale(0.5);   
    /* transform: scaleX(0.6);    */
    /* transform: scaleY(0.8);    */
    /* scal: 0.8 */
}


.box3{
    /* skewX : top left corner will move to left side and bottom right will move to right side */
    /* skewY : top left corner will move to top side and bottom right will move to bottom side */
    width: 200px;
    height: 200px;
    background-color: black;
    margin: 100px;
    transform: skewX(20deg) skewY(20deg);   
    /* transform: skewX(20deg);    */
    /* transform: skewY(20deg);    */
    /* skew dose not have property */
}

.box4{
    /*  */
    width: 200px;
    height: 200px;
    background-color: black;
    margin: 100px;
    transform: translateX(90%);  /* in -ve and +ve px also */  
    /* transform: translateX(20px);   horizontel move */
    /* transform: translateY(-20px);   vertical move */
    /* transform: translateX(-20px) translateY(20px); */
    /* translate: 50px */
}