* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --theme-blue: #0f172b;
  --theme-orange: #fea116;
  --theme-white: #ffffff;
  --theme-light-gray: #f0f0f0;
  --theme-gray: #666565;
  --theme-black: #000000;
}

body {
  font-family: "Heebo", sans-serif;
  /* background-color: #f1f8ff; */
}

.font-cursive {
  font-family: "Pacifico", cursive;
}

.font-nunito {
  font-family: "Nunito", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

.d-flex {
  display: flex;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.65%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.31%;
}
.col-8 {
  width: 66.64%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.63%;
}
.col-12 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

.container {
  /* max-width: 1320px; */
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ======= BG IMAGE ====== */

header h3 {
  margin-left: auto;
  display: none;
}

.background-img {
  background: linear-gradient(rgba(15, 23, 43, 0.9), rgba(15, 23, 43, 0.9)),
    url(../img/bg-hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 50px;
}

/* ======= HEADER ====== */

header {
  padding: 22px 48px;
  font-family: "Nunito", sans-serif;
}

header nav {
  margin-left: auto;
}

header a {
  padding: 0 15px;
  font-size: 15px;
  color: var(--theme-white);
  transition: 0.3s;
  font-weight: 500;
}

header li a:hover {
  color: var(--theme-orange);
}

header li:first-child a {
  color: var(--theme-orange);
}

header ul + a {
  padding: 10px 25px;
  margin-left: 5px;
  background-color: var(--theme-orange);
  border-radius: 2%;
}

header ul + a:focus {
  box-shadow: 0 0 0 #fea116;
}

header .logo h2 {
  font-size: 40px;
  color: var(--theme-orange);
  font-weight: 800;
}

/* ======= MAIN ====== */

.main-content {
  margin: 25px;
}

.main-img {
  margin: 25px;
}

.main-content h1 {
  font-family: "Nunito", sans-serif;
  font-size: 4rem;
  color: var(--theme-white);
  line-height: 70px;
  font-weight: 900;
  margin-bottom: 20px;
}

.main-content p {
  color: var(--theme-white);
  margin-bottom: 25px;
  font-weight: 400;
}

.main-content p + a {
  padding: 1rem 3rem;
  background-color: var(--theme-orange);
  color: var(--theme-white);
  border-radius: 2px;
}

/* ======= SERVICES ======= */

.service {
  margin: 100px 0;
}

.service-item {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  margin: 10px;
  padding: 10px;
  transition: 0.5s;
}

.service-item:hover {
  background-color: var(--theme-orange);
  color: white;
}

.service-item:hover i {
  color: white;
}

.service-item i {
  margin: 30px 15px 15px 15px;
  color: var(--theme-orange);
  font-size: 48px;
  transition: 0.5s;
}

.service-item h5 {
  margin: 15px 15px;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
}

.service-item p {
  margin: 15px 15px 30px 15px;
  font-size: 16px;
  color: rgba(128, 128, 128, 0.479);
  transition: 0.5s;
}

.service-item:hover p {
  color: var(--theme-white);
}

/* ========= about-us ======== */

.about-content-img {
  padding: 10px;
}

.about-img {
  padding: 8px;
}

.about-content-img div div:nth-child(2) img {
  width: 75%;
  margin-top: 25%;
}

.about-content-img div div:nth-child(3) img {
  width: 75%;
  margin-bottom: 25%;
  margin-left: 25%;
}

.about-content h5 {
  font-size: 25px;
  font-weight: 400;
  color: #fea116;
  position: relative;
}

.about-content h5::after {
  content: "";
  position: absolute;
  background-color: var(--theme-orange);
  width: 50px;
  height: 3px;
  top: 20px;
  left: 120px;
}

.about-content h2 {
  font-size: 40px;
  font-weight: 900;
}

.about-content h2 i {
  font-size: 40px;
  color: var(--theme-orange);
}

.about-content p {
  font-size: 17px;
  color: var(--theme-gray);
}

.about-content ul li h3 {
  font-size: 55px;
  font-weight: 900;
  color: var(--theme-orange);
  padding: 0 20px;
}

.about-content ul li h3 + ul li:first-child {
  font-size: 16px;
  font-weight: 500;
  color: var(--theme-gray);
}

.about-content ul li h3 + ul li:last-child {
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--theme-black);
}

.border-start {
  border-left: 6px solid var(--theme-orange);
}

.about-content a {
  padding: 20px 55px;
  background-color: var(--theme-orange);
  color: var(--theme-white);
  font-size: 18px;
  font-weight: 500;
  border-radius: 2px;
  margin-top: 20px;
}

/* *****section food menu***** */

.menu-title h5 {
  font-size: 20px;
  font-weight: 500;
  color: var(--theme-orange);
}

.menu-title h2 {
  font-size: 40px;
  font-weight: 800;
  color: var(--theme-black);
}

.menu-inner ul li i {
  color: var(--theme-orange);
}

.menu-inner ul li p {
  font-size: 15px;
  color: var(--theme-gray);
}

.menu-inner ul li h6 {
  font-size: 16px;
  font-weight: 800;
  color: var(--theme-black);
}
