* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --theme-blue: #0f172b;
  --theme-orange: #fea116;
  --theme-white: #ffffff;
  --theme-light-gray: #dee2e6;
  --theme-gray: #666565;
  --theme-black: #000000;
}

body {
  font-family: "Heebo", sans-serif;
  /* background-color: #f1f8ff; */
}

.font-cursive {
  font-family: "Pacifico", cursive;
}

.font-nunito {
  font-family: "Nunito", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

.d-flex {
  display: flex;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.space-between {
  /* improve name */
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.65%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.31%;
}
.col-8 {
  width: 66.64%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.63%;
}
.col-12 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ======= HEADER ====== */

header .container{
  padding-left: 0;
  padding-right: 0;
}


header .container > div {
  padding: 22px 48px;
  font-family: "Nunito", sans-serif;
  position: absolute;
}

header .logo + nav {
  margin-left: auto !important;
}

header a {
  padding: 0 15px;
  font-size: 15px;
  color: var(--theme-white);
  transition: 0.3s;
  font-weight: 500;
}

header li a:hover {
  color: var(--theme-orange);
}

header li:first-child a {
  color: var(--theme-orange);
}

header ul + a {
  padding: 10px 25px;
  margin-left: 5px;
  background-color: var(--theme-orange);
  border-radius: 2%;
}

header ul + a:focus {
  box-shadow: 0 0 0 #fea116;
}

header .logo h2 {
  font-size: 40px;
  color: var(--theme-orange);
  font-weight: 800;
}

header .logo h2 i{
  padding-right: 3px;
}

/* ======= MAIN ====== */


main .container{
  background: linear-gradient(rgba(15, 23, 43, 0.9), rgba(15, 23, 43, 0.9)),
    url(../img/bg-hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0 50px 0;
}

.main-content {
  margin: 25px;
}

.main-img {
  margin: 25px;
}

.main-content h1 {
  font-family: "Nunito", sans-serif;
  font-size: 4rem;
  color: var(--theme-white);
  line-height: 70px;
  font-weight: 900;
  margin-bottom: 20px;
}

.main-content p {
  color: var(--theme-white);
  margin-bottom: 25px;
  font-weight: 400;
}

.main-content p + a {
  padding: 1rem 3rem;
  background-color: var(--theme-orange);
  color: var(--theme-white);
  border-radius: 2px;
}

/* ======= SERVICES ======= */

.service {
  margin: 100px 0;
}

.service-item {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  margin: 10px;
  padding: 10px;
  transition: 0.5s;
}

.service-item:hover {
  background-color: var(--theme-orange);
  color: white;
}

.service-item:hover i {
  color: white;
}

.service-item i {
  margin: 30px 15px 15px 15px;
  color: var(--theme-orange);
  font-size: 48px;
  transition: 0.5s;
}

.service-item h5 {
  margin: 15px 15px;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
}

.service-item p {
  margin: 15px 15px 30px 15px;
  font-size: 16px;
  color: rgba(128, 128, 128, 0.479);
  transition: 0.5s;
}

.service-item:hover p {
  color: var(--theme-white);
}

/* ========= about-us ======== */

.about{
  margin-top: 48px;
}

.about-content{
  margin-top: 24px;
}

.about-content-img {
  padding: 10px;
}

.about-img {
  padding: 8px;
}

.about-content-img div div:nth-child(2) img {
  width: 75%;
  margin-top: 25%;
}

.about-content-img div div:nth-child(3) img {
  width: 75%;
  margin-bottom: 25%;
  margin-left: 25%;
}

.about-content h5 {
  font-size: 25px;
  font-weight: 400;
  color: #fea116;
  position: relative;
}

.about-content h5::after {
  content: "";
  position: absolute;
  background-color: var(--theme-orange);
  width: 50px;
  height: 3px;
  top: 20px;
  left: 110px;
}

.about-content h2 {
  font-size: 40px;
  font-weight: 900;
}

.about-content h2 i {
  font-size: 40px;
  color: var(--theme-orange);
}

.about-content p {
  font-size: 17px;
  color: var(--theme-gray);
}

.about-content ul li h3 {
  font-size: 55px;
  font-weight: 900;
  color: var(--theme-orange);
  padding: 0 20px;
}

.about-content ul li h3 + ul li:first-child {
  font-size: 16px;
  font-weight: 500;
  color: var(--theme-gray);
}

.about-content ul li h3 + ul li:last-child {
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--theme-black);
}

.border-start {
  border-left: 6px solid var(--theme-orange);
}

.about-content a {
  padding: 20px 55px;
  background-color: var(--theme-orange);
  color: var(--theme-white);
  font-size: 18px;
  font-weight: 500;
  border-radius: 2px;
  margin-top: 20px;
}

/* =======  menu =======*/

.menu{
  margin-top: 48px;
}

.menu-title h5 {
  font-size: 20px;
  font-weight: 500;
  color: var(--theme-orange);
  position: relative;
}

.menu-title h5::after {
  content: "";
  position: absolute;
  background-color: var(--theme-orange);
  width: 50px;
  height: 2px;
  top: 20px;
  /* left: 530px; */
}

.menu-title h2 {
  font-size: 40px;
  font-weight: 800;
  color: var(--theme-black);
}

.active-nav {
  border-bottom: 2px solid var(--theme-orange) !important;
}

.menu-inner {
  margin: 48px 0;
}

.menu-nav ul {
  padding-bottom: 12px;
  margin-left: 16px;
  /* border-bottom: 1px solid var(--theme-light-gray); */
}

.menu-nav ul li:first-child {
  margin-right: 16px;
}

.menu-nav ul li i {
  color: var(--theme-orange);
}

.menu-nav ul li p {
  font-size: 15px;
  color: var(--theme-gray);
}

.menu-nav ul li h6 {
  font-size: 16px;
  font-weight: 800;
  color: var(--theme-black);
}

.menu-nav-item {
  margin: 24px 12px 0px 12px;
}

.menu-nav-item img {
  width: 80px;
  border-radius: 2%;
}

.menu-nav-item h5 {
  font-size: 20px;
  font-weight: 900;
  border-bottom: 1px solid var(--theme-light-gray);
  padding-bottom: 10px;
}

.menu-nav-item h5 span:last-child {
  color: var(--theme-orange);
}

.menu-nav-item small {
  color: var(--theme-gray);
  padding-top: 10px;
  display: block;
  font-style: italic;
}

.menu-nav-item img + div {
  margin-left: 24px;
}

/* ======== Reservation ======== */

.reservation-video {
  background: url("../img/video.jpg");
  position: relative;
}

.reservation-video span::before {
  content: "";
  position: absolute;
}

.reservation-form {
  background-color: var(--theme-blue);
  padding: 48px;
}

.reservation-form h5 {
  font-size: 20px;
  color: var(--theme-orange);
  font-weight: 500;
  margin-bottom: 8px;
}

.reservation-form h2 {
  font-size: 40px;
  color: var(--theme-white);
  font-weight: 900;
}

form div div {
  margin-right: 8px;
}

input,
select {
  display: block;
  padding: 16px 12px;
  margin-top: 16px;
  width: 100%;
}

textarea {
  display: block;
  width: 100%;
  padding: 16px 12px;
  margin-top: 16px;
}
input[type="submit"] {
  background-color: var(--theme-orange);
  color: var(--theme-white);
}

/* ======= team ======== */

.team-title {
  margin: 48px 12px 16px;
}

.team-title h5 {
  font-size: 20px;
  color: var(--theme-orange);
  font-weight: 500;
  margin-bottom: 8px;
}

.team-title h2 {
  font-size: 40px;
  font-weight: 900;
}

.team-member {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 24px;
  margin: 12px;
}

.team-member img {
  border-radius: 50%;
}

.team-member h5 {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 2px;
  margin-top: 24px;
}

.team-member small {
  font-size: 14px;
  color: var(--theme-gray);
}

/* ===== Testimonial ====== */

.testimonial {
  margin-top: 48px;
}

.testimonial-title h5 {
  font-size: 20px;
  color: var(--theme-orange);
  font-weight: 500;
  margin-bottom: 8px;
}

.testimonial-title h2 {
  font-size: 40px;
  font-weight: 900;
}

.testimonial-inner {
  margin-top: 48px;
}

.testimonial-item {
  border: 1px solid var(--theme-light-gray);
  border-radius: 2px;
  padding: 24px;
  margin-right: 24px;
}

.testimonial-inner div div:last-child .testimonial-item {
  margin-right: 0px;
}

.testimonial-item i {
  color: var(--theme-orange);
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 16px;
}

.testimonial-item p {
  color: var(--theme-gray);
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
}

.testimonial-item ul li:nth-child(1) img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.testimonial-item ul li:nth-child(2) {
  margin-left: 16px;
}

.testimonial-item ul li:nth-child(2) h5 {
  font-size: 20px;
  margin-bottom: 4px;
}

.testimonial-item ul li:nth-child(2) small {
  color: var(--theme-gray);
  font-size: 14px;
}

.active-testimonial {
  background-color: var(--theme-orange);
}
.active-testimonial i,
.active-testimonial p,
.active-testimonial h5,
.active-testimonial ul li:last-child small {
  color: var(--theme-white);
}

.testimonial-dots {
  margin-top: 24px;
}

.dot-item {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  border: 1px solid var(--theme-light-gray);
  margin: 5px;
  display: inline-block;
}

.active-dot-item {
  background-color: var(--theme-orange);
  border-width: 0;
}

/* ====== footer ====== */

footer .container {
  margin-top: 48px;
  padding-top: 48px;
  background-color: var(--theme-blue);
  color: var(--theme-white);
}

.footer-item {
  margin-right: 24px;
}

.footer-inner div div:first-child .footer-item {
  margin-left: 24px;
}

.footer-item h5 {
  font-size: 28px;
  font-weight: 400;
  color: var(--theme-orange);
  margin-bottom: 24px;
}
